<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dm.mapper.SysSysauditlogMapper">
  <resultMap id="BaseResultMap" type="com.springboot.dm.entity.SysSysauditlog">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="sysdate" jdbcType="TIMESTAMP" property="sysdate" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="handlename" jdbcType="VARCHAR" property="handlename" />
    <result column="handledetail" jdbcType="VARCHAR" property="handledetail" />
    <result column="handleflag" jdbcType="VARCHAR" property="handleflag" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="btype" jdbcType="INTEGER" property="btype" />
    <result column="dataid" jdbcType="VARCHAR" property="dataid" />
    <result column="bcolumnid" jdbcType="CHAR" property="bcolumnid" />
    <result column="outdate" jdbcType="TIMESTAMP" property="outdate" />
  </resultMap>

  <insert id="insert" parameterType="com.springboot.dm.entity.SysSysauditlog">
    insert into NYSMF.SYS_SYSAUDITLOG (userid, username, sysdate,
      ip, handlename, handledetail, 
      handleflag, flag, alias, 
      code, memo, btype, 
      dataid, bcolumnid, outdate
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{sysdate,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=VARCHAR}, #{handlename,jdbcType=VARCHAR}, #{handledetail,jdbcType=VARCHAR}, 
      #{handleflag,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{alias,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{btype,jdbcType=INTEGER}, 
      #{dataid,jdbcType=VARCHAR}, #{bcolumnid,jdbcType=CHAR}, #{outdate,jdbcType=TIMESTAMP}
      )
  </insert>

</mapper>